.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery__title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 40px;
  width: 100%;
  margin-top: 0;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery__new-card-btn-btn {
  width: 325px;
  min-height: 205px;
  border-radius: 20px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #1a1a1a80;
}

.gallery__new-card-btn-btn:hover {
  background-color: #c5c5c5;
  color: #1a1a1a;
}
